<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Begin Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
    <script src="../static/js/firebase.js"></script>
    <!-- End Firebase -->
</head>
  <body>
    <div class="dashboard-header">
        <div id="rechts">
            <div class="dashboard-header__title"> {{ pagina_naam }} </div>
            <div class="dashboard-header__date"> {{ datum }} </div>
        </div>
        <img class="image-logo" src="../static/images/andi-gilde-opleidingen-printsolutions.jpeg" alt="Gilde Logo" width="10%">
        <nav>
            <ul class="menu">
              <li><a href="{{ url_for('home') }}">Dashboard</a></li>
              <li><a href="{{ url_for('settings') }}">Settings</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
